extends pug-bootstrap/_bootstrap.pug

block body
  nav.navbar.navbar-expand-sm.navbar-dark.bg-dark
    a.navbar-brand(href='#') VoiceX
    span#connection.badge.badge-danger(data-toggle='tooltip', data-placement='bottom', title='Unable to connect to service') Disconnected
    button.navbar-toggler(type='button', data-toggle='collapse', aria-controls='#navbar', data-target='#navbar', aria-expanded='false', aria-label='Toggle navigation')
      span.navbar-toggler-icon
    div.collapse.navbar-collapse.justify-content-md-center#navbar
      ul.navbar-nav
        li.nav-item.dropdown
          button.btn.btn-secondary.dropdown-toggle#dd-profile(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Profile
            img(src='/images/user.png').icon-user.float-left
          div.dropdown-menu(aria-labelledby='dd-profile')
            a.dropdown-item(href='#') Settings
            a.dropdown-item(href='#') Privacy
            a.dropdown-item(href='#') Log Out

        li.nav-item.dropdown
          button.btn.btn-secondary.dropdown-toggle#dd-recordings(data-toggle='dropdown', aria-haspopup='true', aria-expanded='false') Recordings
          div.dropdown-menu(aria-labelledby='dd-recordings')
            a.dropdown-item(href='#') Recording 2018-11-12
            a.dropdown-item(href='#') Upload 2018-11-10
            a.dropdown-item(href='#') Upload 2018-11-08
            a.dropdown-item(href='#') Recording 2018-11-04
            a.dropdown-item(href='#') Upload 2018-11-04
            a.dropdown-item(href='#') Recording 2018-11-01
            a.dropdown-item(href='#') Recording 2018-10-29
            a.dropdown-item(href='#') Recording 2018-10-28
            a.dropdown-item(href='#') Recording 2018-10-21

        li.nav-item
          button.btn.btn-secondary Progress
            img(src='/images/progress.png').icon-user.float-left

        select#inputdevices
        canvas(width='50' height='30')#visualiser
        button.btn.btn-danger#toggle-recording Record
          img(src='/images/record.png').icon-user.float-left

  block content


block scripts
  script(type='text/javascript' src='/javascripts/record.js')
  script(type='text/javascript' src='/socket.io/socket.io.js')
  script.
    $(document).ready(function() {
      $('[data-toggle="tooltip"]').tooltip();
    });
    const socket = io();
    socket.on('speech_data', function(data) {
      console.log(data);
    });
    socket.on('disconnect', function(reason) {
      $('#connection').
          removeClass('badge-success').
          addClass('badge-danger').
          html('Disconnected').
          attr('data-original-title', 'Disconnected from service:\n' + reason);
    });
    socket.on('connect', function() {
      $('#connection').
          removeClass('badge-danger').
          addClass('badge-success').
          html('Connected').
          attr('data-original-title', 'Connected to service');
    });